**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/*.user
**/appsettings.Development.json
**/appsettings.Local.json
**/secrets.json
**/.env
**/.env.*
client/node_modules
client/dist
client/dist-ssr
**/TestResults
**/publish
**/out
**/logs
**/*.log
